RNMAPBOX_MAPS_DOWNLOAD_TOKEN=
EXPO_PUBLIC_MAPBOX_ACCESS_TOKEN=
EXPO_PUBLIC_API_BASE_URL=http://10.0.2.2:4000/api/v1
EXPO_PUBLIC_APP_SCHEME=mooments
EXPO_PUBLIC_STRIPE_CONNECT_CALLBACK_PATH=/profile-screen/add-stripe
EXPO_PUBLIC_STRIPE_PUBLISHABLE_KEY=
